.error {
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
}
.error textarea {
    border: 2px solid red;
}

.error small {
    margin-left: 5px;
    color: red;
}

.default {
    display: flex;
    font-family: Segoe UI, "Tahoma", Geneva, Verdana, sans-serif;
    outline: none;
    background-color: #70ffc145;
    border: 2px solid #8fd8b845;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    resize: none;
}

.error input {
    border: 2px solid red;
}

